@media (max-width: 1050px) {
  //profile
  .profileFlex {
    flex-direction: column;
  }
  .profileFlex .profileImageContainer {
    width: 60%;
  }
  .profileFlex .profileTextContainer {
    width: 90%;
    padding-top: 50px;
    padding-left: 0px;
    line-height: 40px;
  }
  //projects
  .projectTextContainer .projectLinks a {
    font-size: 1.1rem;
  }
}

@media (max-width: 950px) {
  .wrapper {
    width: 95%;
  }
  //skill
  .skills .skillsLayout .skill {
    width: calc(100% / 3);
  }
  //projects
  .projectTextContainer .projectLinks {
    flex-direction: column;
    align-items: flex-start;
  }
  .projectTextContainerLeft .projectLinks {
    align-items: flex-end;
  }

  .projectTextContainer .projectLinks a {
    margin: 10px 0;
  }
}

@media (max-width: 850px) {
  .projectResults .project {
    flex-direction: column;
    padding-bottom: 0;
  }
  .projectTextContainerLeft {
    order: 1;
    text-align: left;
  }
  .projectTextContainerLeft .projectLinks {
    align-items: flex-start;
  }

  .projectResults .project .projectTextContainer,
  .projectResults .project .projectImageContainer {
    width: 80%;
  }
  .projects .sectionTitle {
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  //header
  header h1 span {
    font-size: 4rem;
  }
  //profile
  .profile {
    padding-top: 150px;
  }

  .profile .sectionTitle h2 {
    font-size: 3rem;
  }
  .profileFlex .profileImageContainer {
    width: 80%;
  }

  //skills
  .skills .skillsLayout .skill {
    width: calc(100% / 2);
  }
  .skills .skillsLayout .skillIcon {
    font-size: 2.5rem;
  }

  //projects
  .projects .sectionTitle h2 {
    font-size: 3rem;
  }

  //footer
  input[name="email"],
  input[name="phone"] {
    width: 100%;
  }
  footer .footerTitle h2 {
    font-size: 3rem;
  }
  form button {
    width: auto;
  }
}

@media (max-width: 480px) {
  //header
  header h1 span {
    font-size: 2.8rem;
  }
  //skills
  .skills .skillsLayout p {
    font-size: 1rem;
  }
  //projects
  .projectTextContainer .stackList {
    flex-direction: column;
  }
  .projectTextContainer .stackList li {
    width: 100%;
    padding: 5px 0;
  }
}
