.skills {
  background-image: url(../assets/skill-bg.png);
  background-repeat: no-repeat;
  background-color: white;
  background-size: contain;
  background-position: right top;
  padding-top: 100px;
  .sectionTitle {
    position: relative;
    top: -50px;
    left: 100px;
    h2 {
      font-size: 2rem;
    }
    p {
      &::before {
        content: "";
        width: 50px;
        height: 2px;
        background-color: $black;
        position: absolute;
        top: 18px;
        left: -75px;
      }
    }
  }
  .skillsLayout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    .skill {
      width: calc(100% / 4);
      text-align: center;
      padding-bottom: 80px;
    }
    .skillIcon {
      color: $teal;
      font-size: 3rem;
      padding-bottom: 20px;
      transition: 0.2s;
      width: 100%;
      &:hover {
        transform: scale(1.5);
      }
    }
    p {
      color: $black;
      font-family: $secondaryFont;
      font-size: 1.25rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
