// Fonts
$primaryFont: "Playfair Display", serif;
$secondaryFont: "Montserrat", sans-serif;

// colors
$white: #f8f8f6;
$blue: #4fd5ed;
$black: #232227;
$purple: #443a8b;
$grey: #6e6e6e;
$teal: #0be0b0;
$pink: #fe6192;
